extend layout 

block content
  nav.contributors
    ul
      each contributor in contri
        li
          a(href='/contributor/' + contributor._id) #{contributor.name}
  hr
  a(href='/contributor/create') Create New User
