extend layout 

block content
  h1= title
  form(action='' method='POST' class='newForm')
    div.inputForm
      label(for='name') Contributor Name : 
      input(type='text' name='name' id='name' placeholder='Contributor Name' autocomplete='off' class='inputField' value=(undefined===contributor ? '' :contributor.name) )
    button(type='submit' class='submitBtn') Submit
  if error
    ul.errors
      each err in error
        p!= err.msg