extends layout

block content
  div.titleContent
    div.text1
      h1 Arknights Material Conpendium
      div.titleDescrip
        p A simple application to store materials and stages from arknights
    img(src='https://webusstatic.yo-star.com/ark_jp_web/pc/img/item_origin.f524ea1a.png' alt='' class='titleImg')

