doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.container
      div.header-container
        block header
          ul.sidebar-nav
            li
              a(href='/') Home
            li
              a(href='/material/list') Materials
            li
              a(href='/stage/list') Stages
            li
              a(href='/contributor/list') Contributors
      block content
