extend layout 

block content
  div.pageHeader
    h3 Stages
    a(href='/stage/create') Create New Stage
  hr
  div.stages
    each stg in stage
      div.stage
        a(href='/stage/'+ stg._id) 
          img(src=stg.pic alt=stg.name style='width:100px')
        
    else 
      | No Stages Found
  
